
.mainFxmlClass {
/*Transperency for button and scrollbar*/
.button {
	-fx-background-color: transparent;
}


.scroll-bar:vertical {
    -fx-background-color: transparent;
}
.scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
}
.scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .decrement-arrow {
   -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button {
    -fx-background-color: transparent;
}

.scroll-bar .decrement-button {
   -fx-background-color: transparent;
}
}

/*STYLE DE LA PAGE*/
#AnchorPane {
    -fx-background-color: #3c3c3d;
}

/*STYLE DU TITRE*/
#Title {
    -fx-font-size: 21pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #ffffff;
}

/*STYLE DU BOUTON*/
#button {
    -fx-background-color: #4b62ad;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}
